.popup__container{
    background: white;
    width: 430px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.popup_type_image .popup__container{
    background: transparent;
    padding:0; 
    flex-direction:column;
    width:auto;
    height:auto;
    position:relative;
    
}


@media screen and (max-width:751px){
    .popup__container{
        width:282px;
        
    }
}