.form__button-close{
    width: 40.7px;
    height: 40.7px;
    background:url(../../../images/Close\ Icon.svg);
    background-color: transparent;
    background-position: center;
    border: none;
    position: absolute;
    top: 86px;
    right: 421px;
    cursor: pointer;
  }

  .form__button-close:hover{
    opacity: .6;
  }


  @media screen and (max-width:320px){
    .form__button-close{
      width:26px;
      height:26px;
      top: -39px;
      right: 4px;
    }
  }