.elements__card-delete{
    background: url(../../../images/Trashcan.svg);
    background-color: transparent;
    border: none;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    
}

.elements__card-delete:hover{
    opacity: 0.6;
}