@import url(./__image/header__image.css);
@import url(./__line/header__line.css);

.header{
    margin: 45px 200px 40px;
    max-width: 884px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
}


@media screen and (max-width:320px){
    .header{
        min-width:320px;
        margin:28px auto 0;
    }
}