@import url(./__image/header__image.css);
@import url(./__line/header__line.css);

.header{
    margin: 45px auto 0;
    min-width: 884px;
}


@media screen and (max-width:320px){
    .header{
        min-width:320px;
        margin:28px auto 0;
    }
}