@import url(./__image/header__image.css);

.header{
    margin: 45px 200px 0px;
    max-width: 884px;
    border-bottom: 1px solid;
    border-color:rgba(54,54,54,0.7);
    
}

@media screen and (max-width:1060px){
    .header{
        margin: 45px 90px 0px;
    }
}


@media screen and (max-width:320px){
    .header{
        min-width:320px;
        margin:28px auto 0;
    }
}