@import url(../elements/__list/elements__list.css);
@import url(../elements/__card/elements__card.css);
@import url(../elements/__card-text/elements__card-text.css);
@import url(../elements/__card-heart/elements__card-heart.css);
@import url(../elements/__card-image/elements__card-image.css);
@import url(../elements/__card-bottom/elements__card-bottom.css);


.elements{
    max-width: 880px;
    margin: auto;

}

@media screen and (max-width:320px){
    .elements{
        max-width:282px;
    }
}