.line {
    border: 1px solid #000000;
    opacity: .2;
    width: 358px;
    height: 0px;
    margin-left: 36px;
  }

  @media screen and (max-width:320px){
    .line{
      width:238px;
      margin: 0 0 30px 22px;
    }
  }