@import url(../__input/__input_type_job/form__input_type_job.css);
@import url(../__input/__input_type_name/form__input_type_name.css);


.form__input {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    margin-left: 36px;
    margin-bottom: 13.3px;
  }