.form__input {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /*margin-left: 36px;
    margin-bottom: 13.3px;
    margin-top:54px;*/
    margin:13px 36px 0;
    border:none;
    border-bottom: 1px solid;
    border-color:rgba(0, 0, 0, 0.2);
    width: 358px;
    outline:none;
    
    
  }

  

  @media screen and (max-width:751px){
    .form__input{
      margin-left:22px;
      margin-top:0px;
      width:238px;
    }
  }


  /*.form__input:nth-child(2){
    margin-top:34px;
  }

 