.profile__info{
    color: white;
    display: flex;
    align-items: center;
    max-width:563px;
    flex-wrap:wrap;
}

@media screen and (max-width:350px){
    .profile__info{
        max-width:280px;
        justify-content:center;
    }
}