@import url(../footer/__text/footer__text.css);

.footer{
    min-width: 882px;
    margin: 67px 200px 60px;
}

@media screen and (max-width:1060px){
    .footer{
        min-width:750px;
    }
}

@media screen and (max-width:780px){
    .footer{
        min-width:600px;
    }
}

@media screen and (max-width:751px){
    .footer{
        min-width:282px;
        margin: 48px auto 36px;
    }
}