.elements__card-heart{
    background: white;
    min-width: 29px;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    border: unset;
    height: 25px;
    background-position: center;
    position: absolute;
    top: 310px;
    right: 18px;
    padding: 0;
}


.elements__card-heart:hover{
    opacity: 0.6;
}