.profile__info-subtitle{
    font-weight: normal;
    font-size:18px;
    line-height:22px;
    color:white;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    max-width: 415px;
}

@media screen and (max-width:755px){
    .profile__info-subtitle{
        font-size:14px;
        line-height:17px;
        text-align:center;
        margin:0 0 36px 0;


    }
}