.form__button-close{
    width: 40.7px;
    height: 40.7px;
    background:url(../../../../images/Close\ Icon.svg);
    background-color: transparent;
    background-position: center;
    border: none;
    position: absolute;
    left: 434px;
    bottom: 378px;
  }

  .form__button-close:hover{
    opacity: .6;
  }


  @media screen and (max-width:320px){
    .form__button-close{
      width:26px;
      height:26px;
      position: absolute;
      top: -10px;
      right: 0px;
      border:none;
      background:none;
    }
  }