.profile__info-title{
    font-weight: 500;
    margin: 0 25px 16px 0;
    font-size: 42px;
    line-height: 56px;
}

@media screen and (max-width:320px){
    .profile__info-title{
        font-size:22px;
        text-align:center;
        margin:0;
    }
}

